* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Section  */

header {
  margin-right: 200px;
  margin-left: 200px;
}

.navbar_top {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
}

.logo {
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_button {
  padding: 8px 40px;
  background-color: white;
  color: #28306c;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s ease-in;
}

.login_button:hover {
  background-color: lightgray;
}

.register_button {
  padding: 10px 25px;
  color: white;
  background: #e0082a;
  border: none;
  font-weight: 700;
  border: 1px solid rgb(211, 203, 203);
  transition: 0.2s ease-in;
}

.register_button:hover {
  background-color: rgb(252, 52, 52);
}

.navbar_bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #28306c;
  align-items: center;
}

.left_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.home_div {
  transition: 0.3s ease-in-out;
}

.home_div:hover {
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
}

/* Hero Section  */

.hero {
  background-image: url(images/hero_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 348px;
  width: 100%;
  border-top: 10px solid #28306c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_main {
  font-size: 56px;
  color: white;
  margin-top: -50px;
  text-shadow: 0 0 50px #000;
  font-weight: 500;
}

.title_secondary {
  font-size: 24px;
  text-shadow: 0 0 50px #000;
  color: white;
  margin-bottom: 50px;
  font-weight: 500;
}

.search_box {
  border: 4px solid black;
  display: flex;
}

.search_box input {
  width: 500px;
  padding: 12px 16px;
  border: none;
  cursor: text;
}

.search_box input::placeholder {
  font-size: 16px;
}

select {
  font-size: 16px;
  padding: 12px 16px;
  border-left: 4px solid black;
}

.find_jobs {
  font-size: 16px;
  padding: 12px 16px;
  color: white;
  background: #f21b03;
  font-weight: 300;
  border-left: 4px solid black;
  transition: 0.15s ease-in;
}

.find_jobs:hover {
  background-color: #ff3b25;
  transition: 0.15s ease-in;
}

.find_jobs:active {
  border: 2px solid black;
}

/* Hiring Section  */

.hiring {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;
  justify-content: center;
}

.hiring_title {
  font-size: 36px;
  color: #28306c;
  margin-bottom: 25px;
  font-weight: 600;
  cursor: text;
}

.hiring_images {
  display: flex;
  gap: 40px;
  align-items: center;
}
.hiring_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #28306c;
  margin: 80px 150px;
}

.l_1 i,
.l_2 i {
  color: red;
}

/* Marketing Section  */
.marketing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/marketing_image.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.marketing_heading {
  text-align: center;
  margin-left: 300px;
  align-content: center;
  cursor: text;
}

.marketing_title {
  color: #28306c;
  font-size: 36px;
  padding-top: 30px;
  font-weight: 700;
}

.marketing_desc1 {
  color: #636464;
  font-size: 24px;
  margin: 15px 0px;
}

.marketing_desc1 span {
  color: #e0082a;
  font-size: 36px;
}

.marketing_desc2 {
  color: #636464;
  font-size: 36px;
  margin: 15px 0px;
}

.marketing hr {
  width: 300px;
  margin-left: 270px;
  margin-bottom: 15px;
  cursor: default;
}

.marketing_footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(images/red_ribbon_strip.jpg);
  padding: 35px 0px;
  margin-top: 20px;
}

.marketing_footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  text-align: center;
}

.span_1 {
  font-size: 18px;
  color: white;
}

.span_2 {
  font-size: 36px;
  color: white;
}

/* Jobs Location Section  */
.jobs_location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 239, 239);
  padding: 50px 0px;
}

.heading {
  font-size: 36px;
  font-weight: 600;
  color: #28306c;
  padding-bottom: 25px;
}

.c_flag img {
  transition: 0.4s ease-in-out;
}

.country:hover .c_flag img {
  transform: scale(1.5);
  transition: 0.4s ease-in-out;
}

.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.country_last div {
  font-size: 20px;
}

.county_desc i {
  color: #e0082a;
  font-size: 15px;
}

.countries div {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  background-color: white;
  overflow: hidden;
}

.countries div div:hover {
  border: none;
}

.countries div .c_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c_flag img {
  height: 40px;
  width: 40px;
}

.span_country {
  font-size: 18px;
  color: #0077b5;
}
